@use '../abstracts' as *;

.footer {
    text-align: left;
    padding-bottom: $spacing-xl;

    &__links {
        margin-bottom: 1.5rem;
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        font-weight: 500;
    }

    &__link {
        color: inherit;
        text-decoration: underline;
        text-underline-offset: 4px;

        &:visited {
            color: $color-visited;
        }
    }

    &__text {
        a {
            color: inherit;
            text-decoration: underline;
            font-weight: 600;
            display: inline-block;
            margin-bottom: 1rem;
        }
    }
}